
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> ddev tool cli ###
/.ddev/
###< ddev tool cli ###

###> symfony/phpunit-bridge ###
/bin/.phpunit/
.phpunit.result.cache
/phpunit.xml
/phpunit.xml.dist
###< symfony/phpunit-bridge ###
